@model LibraryTemplate.Models.Category


@{
	Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Category", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
	@Html.HiddenFor(model => model.IdCategory)
	<div class="form-group">
		@Html.LabelFor(model => model.NameCategory, new { @class = "control-label" })
		@Html.EditorFor(model => model.NameCategory, new { HtmlAttributes = new { @class = "form-control border-bottom-primary" } })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.DescriptionCategory, new { @class = "control-label" })
		@Html.TextAreaFor(model => model.DescriptionCategory, new { @class = "form-control" })
	</div>

	<div class="form-group">
		<input type="submit" value="Submit" class="btn btn-primary" />
		<input type="reset" value="reset" class="btn btn-secondary" />
	</div>
}
